<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pemesananlondry">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pengelola.ProfilPengelola"/>
        <activity android:name=".pengelola.LoginPengelola"/>
        <activity android:name=".pengelola.HomePengelola"/>
        <activity android:name=".pengelola.RegistrasiPengelola"/>
        <activity android:name=".pengelola.Pesanan.PesananPemilik"/>

        <activity android:name=".pemesan.home.HomePemesan"/>
        <activity android:name=".pemesan.ProfilPemesan"/>
        <activity android:name=".pemesan.RegistrasiPemesan"/>
        <activity android:name=".pemesan.HomePemesan"/>
        <activity android:name=".pemesan.PesananPemesan"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>